/* Here is your custom css styles. */

/* body.night { */
/* 	background: #242933; */
/* } */
body.night {
	background: #2f3742;
}
body.night .aplayer {
	background: #2f3742 !important;
}
body.night img {
	filter: brightness(60%);
}

/* .main_night { */
/* 	background: #2f3742; */
/* } */

body.night .card {
	background: #242933;
	color: white;
}
#xm {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	font-size: 0;
	transition: all 0.3s ease-in-out;
	transform: translateY(3px);
}
#xm:hover {
	transform: translateY(0);
}
#xm img {
	width: 50px;
}
