<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="Galleries" class="container about-container">
        <div class="card" id="air-conditioner-room">

								<iframe height="740" width="100%" src="https://ac.yunyoujun.cn"></iframe>
        </div>
    </div>
</main>

