<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="Galleries" class="container about-container">
        <div class="card" id="galleries">

                <div class="center-align" data-aos="fade-up"></div>

								<% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/wallpaper') %>
                <%- partial('_widget/single_gallery') %>
                <% } %>
            </div>
			  <div class="title center-align" data-aos="zoom-in-up">
        <i class="fa fa-adjust"></i>&nbsp;&nbsp;<%- __('declaration') %>
				</div>
        </div>
    </div>
</main>

