<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="Galleries" class="container about-container">
        <div class="card" id="she">

                <div class="center-align" data-aos="fade-up"></div>
                <% if (theme.her_photoes && theme.her_photoes.enable) { %>
                <%- partial('_widget/she') %>
                <% } %>

            </div>
        </div>
    </div>
</main>

