<%
	var widget = theme.clustrMaps.widget
%>

<div class="my-clustrmaps">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<%- __('clustrMaps') %>
    </div>
    <div class="row">
		<% if(widget == 'map') { %>
		<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=0e1633&w=300&t=tt&d=sVWKicULnl5HbigBve0GtYU7c9_irQ9jA3lx2rGKxKE&co=0b4975&ct=cdd4d9&cmo=3acc3a&cmn=ff5353'></script>
		<% } %>
		<% if(widget == 'globe') { %>
		<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=sVWKicULnl5HbigBve0GtYU7c9_irQ9jA3lx2rGKxKE"></script>
		<% } %>
    </div>
</div>
